<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1></h1>
    <hr />
    <table>
      <thead>
        <td>文件名</td>
        <td>内存</td>
        <td>最后修改时间</td>
      </thead>
      <tbody>
        <% data.forEach(function(info){ %>
        <tr>
          <td><%= info.filename %></td>
          <td><%= info.size %></td>
          <td><%= info.lastModified %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <hr />
    <script>
      const xhr = new XMLHttpRequest();
      xhr.withCredentials = "true";
      xhr.open("post", "http://localhost/cors.txt");
      xhr.send("hhhhhh");
      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log("success");
        }
      };
    </script>
  </body>
</html>
